@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 90vw;
  height: 90vh;
  background: linear-gradient(89deg, #ff5edf 0%, #057885 100%);
  .particles {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1 !important;
  }
  .content {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 80%;
    background-color: rgba(255, 255, 255, 0.219);
    border-radius: 20px;

    h1 {
      font-size: 40px;
      margin-bottom: 5vh;
      color: white;
    }
  }
  .myGraph {
    display: flex;
    justify-content: center;
    :first-child {
      overflow: visible;
    }
  }
}
@media screen and (max-width: 880px) {
  .content {
    width: 100% !important;
  }
}
